

<!-- content -->

<!-- services -->
<section id="services" class="space-top-2x space-bottom-2x">
    <div class="container">
        <div class="row">
        <div class="page-header no-margin text-center">
         <h2>SERVICES</h2>
        </div>
            <!-- feature-block -->
            <div class="col-xs-6 col-lg-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="fa fa-cutlery"></i>
                    </div>
                    <h5>VENUE CONSULTATION</h5>
                    <p>Quisque maximus posuere laoreet. In quam libero, lobortis eu dapibus eget, condimentum et mi. Aliquam et lectus aliquet.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-xs-6 col-lg-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <h5>WEDDING STYLING</h5>
                    <p>Quisque maximus posuere laoreet. In quam libero, lobortis eu dapibus eget, condimentum et mi. Aliquam et lectus aliquet.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-xs-6 col-lg-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <h5>MONTHLY PLANNING MEETINGS</h5>
                    <p>Quisque maximus posuere laoreet. In quam libero, lobortis eu dapibus eget, condimentum et mi. Aliquam et lectus aliquet.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-xs-6 col-lg-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="fa fa-map-pin"></i>
                    </div>
                    <h5>VENDOR COORDINATION</h5>
                    <p>Quisque maximus posuere laoreet. In quam libero, lobortis eu dapibus eget, condimentum et mi. Aliquam et lectus aliquet.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-xs-6 col-lg-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="fa fa-credit-card-alt"></i>
                    </div>
                    <h5>BUDGET DEVELOPMENT AND TRACKING</h5>
                    <p>Quisque maximus posuere laoreet. In quam libero, lobortis eu dapibus eget, condimentum et mi. Aliquam et lectus aliquet.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-xs-6 col-lg-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="fa fa-glass"></i>
                    </div>
                    <h5>CEREMONY AND RECEPTION COORDINATION</h5>
                    <p>Quisque maximus posuere laoreet. In quam libero, lobortis eu dapibus eget, condimentum et mi. Aliquam et lectus aliquet.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->
    
        </div><!-- / row -->

        <div class="space-50">&nbsp;</div>

        <!-- stacked pricing table 3col -->
        <div class="page-header no-margin text-center">
                <h2>PRICING</h2>
        </div>
        <div id="pricing">
            <div class="row stacked">
                <!-- pricing-table -->
                <div class="col-sm-4">
                    <div class="pricing-table">
                        <div class="pricing-table-title">
                            <h5 class="pricing-title">PEARL</h5>
                        </div>
                        <div class="pricing-table-price">
                            <p>
                                <span class="pricing-currency">$</span>
                                <span class="pricing-price">500</span>
                                <span class="pricing-period">/ rates may vary</span>
                            </p>
                        </div>
                        <div class="pricing-table-content">
                            <ul>
                                <li><span class="text-primary"><i>Full payment required at signing of contract</i></span></li>
                                <li>Up to 10 hours of Wedding consultation</li>
                                <li>Vendor referral</li>
                                <li>Advice regarding contracts</li>
                                <li>Unlimited email and telephone communication</li>    
                            </ul>
                            <div class="pricing-table-button">
                                <a href="/contacts/new" class="btn btn-primary-filled"><strong>MORE INFO</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / pricing-table -->
                <!-- pricing-table -->
                <div class="col-sm-4">
                    <div class="featured pricing-table">
                        <div class="pricing-table-title">
                            <h5 class="pricing-title">PLATINUM</h5>
                        </div>
                        <div class="pricing-table-price">
                            <p>
                                <span class="pricing-currency">$</span>
                                <span class="pricing-price">3,000</span>
                                <span class="pricing-period">/ rates may vary</span>
                            </p>
                        </div>
                        <div class="pricing-table-content">
                            <ul>
                                <li><span class="text-primary"><i>$1,000 deposit at signing of contract and balance due on day of wedding</i></span></li>
                                <li>Complimentary wedding planning binder</li>
                                <li>Vendor referral and confirmation</li>
                                <li>Develop and manage wedding itinerary</li>
                                <li>Coordinate wedding rehearsal, ceremony and reception</li>
                                <li>Unlimited email and telephone communication</li>
                            </ul>
                            <div class="pricing-table-button">
                                <a href="/contacts/new" class="btn btn-lg btn-primary-filled"><strong>MORE INFO</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / pricing-table -->
                <!-- pricing-table -->
                <div class="col-sm-4">
                    <div class="pricing-table">
                        <div class="pricing-table-title">
                            <h5 class="pricing-title">SILVER</h5>
                        </div>
                        <div class="pricing-table-price">
                            <p>
                                <span class="pricing-currency">$</span>
                                <span class="pricing-price">1,000</span>
                                <span class="pricing-period">/ rates may vary</span>
                            </p>
                        </div>
                        <div class="pricing-table-content">
                            <ul>
                                <li><span class="text-primary"><i>$400 deposit at signing of contract and balance due on day of wedding</i></span></li>
                                <li>Contract composition assistance</li>
                                <li>Wedding day services - maximum 11 hours</li>
                                <li>Develop and manage wedding itinerary</li>
                                <li>Unlimited email and telephone communication</li>
                                <!-- <li>Rehearsal Dinner Coordination</li> -->
                            </ul>
                            <div class="pricing-table-button">
                                <a href="/contacts/new" class="btn btn-primary-filled"><strong>MORE INFO</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / pricing-table -->
            </div><!-- / row -->
        </div><!-- / pricing -->

    </div><!-- / container -->
</section>

<!-- /services -->
<!-- /content -->