

<!-- content -->

<!-- services -->
<section id="services" class="space-top-2x space-bottom-2x">
    <div class="container">
        <div class="row">
        <div class="page-header no-margin text-center">
         <h2>SERVICES</h2>
        </div>
            <!-- feature-block -->
            <div class="col-xs-6 col-lg-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="fa fa-cutlery"></i>
                    </div>
                    <h5>VENUE CONSULTATION</h5>
                    <p>Quisque maximus posuere laoreet. In quam libero, lobortis eu dapibus eget, condimentum et mi. Aliquam et lectus aliquet.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-xs-6 col-lg-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <h5>WEDDING STYLING</h5>
                    <p>Quisque maximus posuere laoreet. In quam libero, lobortis eu dapibus eget, condimentum et mi. Aliquam et lectus aliquet.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-xs-6 col-lg-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <h5>MONTHLY PLANNING MEETINGS</h5>
                    <p>Quisque maximus posuere laoreet. In quam libero, lobortis eu dapibus eget, condimentum et mi. Aliquam et lectus aliquet.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-xs-6 col-lg-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="fa fa-map-pin"></i>
                    </div>
                    <h5>VENDOR COORDINATION</h5>
                    <p>Quisque maximus posuere laoreet. In quam libero, lobortis eu dapibus eget, condimentum et mi. Aliquam et lectus aliquet.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-xs-6 col-lg-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="fa fa-credit-card-alt"></i>
                    </div>
                    <h5>BUDGET DEVELOPMENT AND TRACKING</h5>
                    <p>Quisque maximus posuere laoreet. In quam libero, lobortis eu dapibus eget, condimentum et mi. Aliquam et lectus aliquet.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->

            <!-- feature-block -->
            <div class="col-xs-6 col-lg-4 feature-center">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="fa fa-glass"></i>
                    </div>
                    <h5>CEREMONY AND RECEPTION COORDINATION</h5>
                    <p>Quisque maximus posuere laoreet. In quam libero, lobortis eu dapibus eget, condimentum et mi. Aliquam et lectus aliquet.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / feature-block -->
    
        </div><!-- / row -->

        <div class="space-50">&nbsp;</div>

        <!-- stacked pricing table 3col -->
        <div class="page-header no-margin text-center">
                <h2>PRICING</h2>
        </div>
        <div id="pricing">
            <div class="row stacked">
                <!-- pricing-table -->
                <div class="col-sm-4">
                    <div class="pricing-table">
                        <div class="pricing-table-title">
                            <h5 class="pricing-title">BASIC</h5>
                        </div>
                        <div class="pricing-table-price">
                            <p>
                                <span class="pricing-currency">$</span>
                                <span class="pricing-price">1,000</span>
                                <span class="pricing-period">/ fixed rate</span>
                            </p>
                        </div>
                        <div class="pricing-table-content">
                            <ul>
                                <li><span class="text-primary">Coordinate Ceremony and Reception</span></li>
                                <li>Venue Consultation</li>
                                <li>24/7 Support</li>
                                <li>Design</li>
                                <li>Plan Meetings</li>
                                <li>Rehearsal Dinner Coordination</li>
                            </ul>
                            <div class="pricing-table-button">
                                <a href="#x" class="btn btn-primary-filled"><strong>MORE INFO</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / pricing-table -->
                <!-- pricing-table -->
                <div class="col-sm-4">
                    <div class="featured pricing-table">
                        <div class="pricing-table-title">
                            <h5 class="pricing-title">PRO</h5>
                        </div>
                        <div class="pricing-table-price">
                            <p>
                                <span class="pricing-currency">$</span>
                                <span class="pricing-price">1,200</span>
                                <span class="pricing-period">/ fixed rate</span>
                            </p>
                        </div>
                        <div class="pricing-table-content">
                            <ul>
                                <li><span class="text-primary">Coordinate Ceremony and Reception</span></li>
                                <li>Venue Consultation</li>
                                <li>24/7 Support</li>
                                <li>Design</li>
                                <li>Plan Meetings</li>
                                <li>Rehearsal Dinner Coordination</li>
                            </ul>
                            <div class="pricing-table-button">
                                <a href="#x" class="btn btn-lg btn-primary-filled"><strong>MORE INFO</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / pricing-table -->
                <!-- pricing-table -->
                <div class="col-sm-4">
                    <div class="pricing-table">
                        <div class="pricing-table-title">
                            <h5 class="pricing-title">PREMIUM</h5>
                        </div>
                        <div class="pricing-table-price">
                            <p>
                                <span class="pricing-currency">$</span>
                                <span class="pricing-price">1,500</span>
                                <span class="pricing-period">/ fixed rate</span>
                            </p>
                        </div>
                        <div class="pricing-table-content">
                            <ul>
                                <li><span class="text-primary">Coordinate Ceremony and Reception</span></li>
                                <li>Venue Consultation</li>
                                <li>24/7 Support</li>
                                <li>Design</li>
                                <li>Plan Meetings</li>
                                <li>Rehearsal Dinner Coordination</li>
                            </ul>
                            <div class="pricing-table-button">
                                <a href="#x" class="btn btn-primary-filled"><strong>MORE INFO</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / pricing-table -->
            </div><!-- / row -->
        </div><!-- / pricing -->

    </div><!-- / container -->
</section>

<!-- /services -->
<!-- /content -->