<!-- content -->

<div id="page-content" class="container">
    <div class="section-w-image">
        <div class="row">
            <div class="col-sm-6 about-img"><p></p></div>
            <div class="col-sm-6 col-sm-offset-6 about-description">
                <h4>ABOUT THE TEAM</h4>
                <p>Aliquam pellentesque nunc enim, vel posuere velit commodo blandit. Proin lobortis, nunc id fringilla hendrerit, est metus efficitur massa, sed euismod neque sem id ligula. Etiam sit amet magna dignissim.</p>
                <p>Mauris eget elit auctor, faucibus purus vitae, consectetur quam. Cras imperdiet eu velit interdum scelerisque.</p>

                <h4 class="space-top">SKILLS</h4>
                <p><strong>EVENT PLANNING</strong> <span class="pull-right">100%</span></p>
                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-default animated first fadeInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div><!-- / progress -->

                <p><strong>TIME MANAGEMENT</strong> <span class="pull-right">100%</span></p>
                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-primary animated second fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div><!-- / progress -->

                <p><strong>DESIGN</strong> <span class="pull-right">98%</span></p>
                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-success animated third fadeInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 98%">
                    </div>
                </div><!-- / progress -->

                <p><strong>PHOTOGRAPHY</strong> <span class="pull-right">97%</span></p>
                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-info animated fourth fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 97%">
                    </div>
                </div><!-- / progress -->

            </div><!-- / about-description -->
        </div><!-- / row -->
    </div><!-- / section-w-image -->

    <!-- facts 4 col -->
    <section id="facts">
        <div class="row">

            <!-- fact -->
            <div class="col-sm-4 text-center">
                <i class="fact-icon lnr lnr-users"></i>
                <h3 class="timer" id="clients" data-to="37" data-speed="1000">37</h3>
                <h5 class="fact-title">CLIENTS</h5>
            </div>
            <!-- / fact -->

            <!-- fact -->
            <div class="col-sm-4 text-center">
                <i class="fact-icon lnr lnr-briefcase"></i>
                <h3 class="timer" id="projects" data-to="54" data-speed="1500">42</h3>
                <h5 class="fact-title">WEDDINGS</h5>
            </div>
            <!-- / fact -->

            <!-- fact -->
            <div class="col-sm-4 text-center">
                <i class="fact-icon lnr lnr-coffee-cup"></i>
                <h3 class="timer" id="coffee" data-to="167" data-speed="2000">675</h3>
                <h5 class="fact-title">CUPS OF COFFEE</h5>
            </div>
            <!-- / fact -->
        </div><!-- / row -->
    </section>
    <!-- / facts 4 col -->

    <!-- team section 4col -->
    <section id="team">
        <h2 class="text-center space-top-2x">THE TEAM</h2>
        <p class="text-center space-bottom-2x">The amazing team of hard-working wedding and event planners.</p>
        <div class="row">
            <!-- team-block -->
            <div class="col-sm-6">
                <div class="team block text-center">
                    <img src="images/about-img3.jpg" alt="">
                    <div class="team-info-box">
                        <h6>JORDYN ORIOLE</h6>
                        <p class="team-role">CEO | WEDDING PLANNER</p>
                        <p class="social text-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/joreo_cookies/"><i class="fa fa-instagram"></i></a>
                        </p>
                    </div><!-- / team-info-box -->
                </div><!-- / team-block -->
            </div><!-- / col-sm-4 -->
            <!-- / team-block -->

            <!-- team-block -->
            <div class="col-sm-6">
                <div class="team block text-center">
                    <img src="images/about-img2.jpg" alt="">
                    <div class="team-info-box">
                        <h6>MICHELLE GONZALEZ</h6>
                        <p class="team-role">WEDDING PLANNER</p>
                        <p class="social text-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </p>
                    </div><!-- / team-info-box -->
                </div><!-- / team-block -->
            </div><!-- / col-sm-4 -->
            <!-- / team-block -->

        </div><!-- / row -->
    </section>
</div><!-- / container -->

<!-- / content -->